* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
/* .debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
} */

/* --------------------- */

/* header */
.header-navbar{
	display: flex;
    justify-content: space-between;
	line-height: 50px;
	padding: 0 10px;
}

.central-header-navbar-item{
	display:flex;
}

a{
	display: inline-block;
	text-decoration: none;
	font-weight: 800;
}

a[class=".header-navbar-item"]{
	color: white;
	font-size: 20px;
}

.header-navbar-item > a{
	margin: 0 10px;
	color: #5c789f;
}

.header-navbar-item>a:hover{
	color: white;
	border-bottom:3px white solid;
}

.header-navbar-item>a:last-child{
	color: white;
	border-bottom: 3px white solid;
}

/* sidebar */
.sidebar{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.profile-pic{
	max-width:50px;
	border-radius: 50%;
	border: 3px solid white;
}

.interactive-sidebar-section{
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div .profile-pic{
	margin-top: 10px;
}

.sidebar-icon{
	margin: 10px 0 3px 0;
	font-size: 28px;
}

.heart:hover{
	color: rgb(254, 3, 40);
}

.favorite:hover{
	color: yellow;
}

/* footer */
footer{
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	text-align: center;
}

.footer-item{
	color: #969191;
	width: calc(100%/5);
}

div[class="footer-item"] :first-child{
	font-size: 28px;
}

.footer-item :last-child{
	font-size: 13px;
}

button{
	font-size: 23px;
	background-color: white;
	border-radius: 25%;
	border: none;
	font-weight: 400;
	padding: 0 12px;
	position: relative;
	translate: 0 -12px;
	box-shadow: 2px 0 0 #e400e4;
	border-left: 2px solid #009797;
}

.footer-item:first-child{
	color: white;
}

.footer-item:hover{
	color: white;
}